<section class="bg-light py-2">
    <div class="containerLabel">
        <div class="row">
            <div class="col-lg-7 col-md-8">
              <p class="lead text-muted">Registro de pagos y gastos</p>
            </div>

            <div class="col-lg-2 col-md-4 d-flex">
                <button class="btn btn-success w-100 align-self-center" data-toggle="modal" data-target="#AddModal">Nuevo Gasto</button>
            </div>
        </div>
    </div>
</section>


<section>
  <div class="containerTabla">
      <div class="row">
          <div class="col-lg-12 my-3">
              <div class="card rounded-0">
                  <div class="card-header bg-light">
                    <h6 class="font-weight-bold mb-0">Resumen Gastos Realizados</h6>
                  </div>
                  <div class="card-body">
                    <table class="tablagastos">
                      <thead>
                        <tr>
                          <th>ID</th>
                          <th>FECHA</th>
                          <th>RAZON SOCIAL</th>
                          <th>NIT/CC</th>
                          <th>GUIA</th>
                          <th>FACTURA</th>
                          <th>PROYECTO</th>
                          <th>CONCEPTO</th>
                          <th>DESCRIPCION</th>
                          <th>VALOR</th>
                          <th>DOCUMENTO</th>
                          <th>ACCIONES</th>
                        </tr>
                      </thead>
                      <tbody>
                          <tr *ngFor="let item of listarSoportes">
                            <td>{{ item.id }}</td>
                            <td>{{ truncateText(item.fecha, 15) }}</td>
                            <td>{{ truncateText(item.razon_social, 15) }}</td>
                            <td>{{ truncateText(item.nit_cc, 15) }}</td>
                            <td>{{ truncateText(item.guia, 15) }}</td>
                            <td style="color: red;">{{ truncateText(item.factura, 15) }}</td>
                            <td>{{ truncateText(item.proyecto, 15) }}</td>
                            <td>{{ truncateText(item.concepto, 15) }}</td>
                            <td>{{ truncateText(item.descripcion, 15) }}</td>
                            <td>{{ item.valor | currency:'USD':'symbol':'1.0-0' }}</td>
                            <td>{{ truncateText(item.documento, 15) }}</td>
                            <td>
                              <button (click)="setEditId(item.id)" class="edit" title="Editar" data-toggle="modal" data-target="#EditModal"><i class="icon ion-md-create lead mr-2"></i></button>
                              
                              <button (click)="deleteSupport(item.id)" class="delete" title="Eliminar"><i class="icon ion-md-trash lead mr-2"></i></button>
                            </td>
                          </tr>
                      </tbody>
                    </table>
                    
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>

<!-- Modal Ingreso -->
<div class="modal fade"  id="AddModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ingreso Gasto</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="container">
            <form [formGroup]="formSuports" (ngSubmit)="addSuport()" class="w-100 mx-auto">
                <div class="row mb-4">
                  <div class="col-md-4">
                    <label class="form-label mb-2">Fecha</label>
                    <input formControlName="fecha" class="form-control" type="date">
                    <span style="color: red;" *ngIf="formSuports.get('fecha')?.hasError('required') && formSuports.get('fecha')?.touched">
                      <strong>El campo de la fecha no puede estar vacio</strong>
                    </span>
                  </div>
                  <div class="col-md-4">
                    <label class="form-label mb-2">Razon Social</label>
                    <input formControlName="razon_social" class="form-control" type="text">
                    <span style="color: red;" *ngIf="formSuports.get('razon_social')?.hasError('required') && formSuports.get('razon_social')?.touched">
                      <strong>El campo razon social no puede estar vacio</strong>
                    </span>
                  </div>
                  <div class="col-md-4">
                    <label class="form-label mb-2">NIT | CC</label>
                    <input formControlName="nit_cc" class="form-control" type="text">
                    <span style="color: red;" *ngIf="formSuports.get('nit_cc')?.hasError('required') && formSuports.get('nit_cc')?.touched">
                      <strong>El campo nit cc no puede estar vacio</strong>
                    </span>
                  </div>
                </div>
                <div class="row mb-4">
                  <div class="col-md-4">
                    <label class="form-label mb-2">Guía</label>
                    <input formControlName="guia" class="form-control" type="number" min="1">
                    <span style="color: red;" *ngIf="formSuports.get('guia')?.hasError('required') && formSuports.get('guia')?.touched">
                      <strong>El campo de la guia no puede estar vacio</strong>
                    </span>
                  </div>
                  <div class="col-md-4">
                    <label class="form-label mb-2">Factura</label>
                    <input formControlName="factura" class="form-control" type="text">
                    <span style="color: red;" *ngIf="formSuports.get('factura')?.hasError('required') && formSuports.get('factura')?.touched">
                      <strong>El campo de la factura no puede estar vacio</strong>
                    </span>
                  </div>
                  <div class="col-md-4">
                    <label class="form-label mb-2">Proyecto</label>
                    <input formControlName="proyecto" class="form-control" type="text">
                    <span style="color: red;" *ngIf="formSuports.get('proyecto')?.hasError('required') && formSuports.get('proyecto')?.touched">
                      <strong>El campo del proyecto no puede estar vacio</strong>
                    </span>
                  </div>
                </div>
                <div class="row mb-4">
                  <div class="col-md-4">
                    <label class="form-label mb-2">Concepto</label>
                    <input formControlName="concepto" class="form-control" type="text">
                    <span style="color: red;" *ngIf="formSuports.get('concepto')?.hasError('required') && formSuports.get('concepto')?.touched">
                      <strong>El campo Concepto no puede estar vacio</strong>
                    </span>
                  </div>
                  <div class="col-md-4">
                    <label class="form-label mb-2">Descripción</label>
                    <input formControlName="descripcion" class="form-control" type="text">
                    <span style="color: red;" *ngIf="formSuports.get('descripcion')?.hasError('required') && formSuports.get('descripcion')?.touched">
                      <strong>El campo descripción no puede estar vacio</strong>
                    </span>
                  </div>
                  <div class="col-md-4">
                    <label class="form-label mb-2">Valor del envío</label>
                    <input formControlName="valor" class="form-control" type="number" min="1">
                    <span style="color: red;" *ngIf="formSuports.get('valor')?.hasError('required') && formSuports.get('valor')?.touched">
                      <strong>El campo valor del envio no puede estar vacio</strong>
                    </span>
                  </div>
                </div>
                <div class="row mb-4">
                  <div class="col-md-9">
                    <label class="form-label mb-2">Documento</label>
                    <input  class="form-control" type="file">
                    
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                  <button  type="submit" class="btn btn-success">Guardar</button>
                </div>
              </form>
        </div>  
        </div>
      </div>
</div>


<!-- Modal Edicion-->
<div class="modal fade" id="EditModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Editar Gasto</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="container">
        <form [formGroup]="formEdit" (ngSubmit)="editSuport()" class="w-100 mx-auto">
          <div class="row mb-4">
            <div class="col-md-4">
              <label class="form-label mb-2">Fecha</label>
              <input formControlName="fecha" class="form-control" type="date">
              <span style="color: red;" *ngIf="formSuports.get('fecha')?.hasError('required') && formSuports.get('fecha')?.touched">
                <strong>El campo de la fecha no puede estar vacio</strong>
              </span>
            </div>
            <div class="col-md-4">
              <label class="form-label mb-2">Razon Social</label>
              <input formControlName="razon_social" class="form-control" type="text">
              <span style="color: red;" *ngIf="formSuports.get('razon_social')?.hasError('required') && formSuports.get('razon_social')?.touched">
                <strong>El campo razon social no puede estar vacio</strong>
              </span>
            </div>
            <div class="col-md-4">
              <label class="form-label mb-2">NIT | CC</label>
              <input formControlName="nit_cc" class="form-control" type="text">
              <span style="color: red;" *ngIf="formSuports.get('nit_cc')?.hasError('required') && formSuports.get('nit_cc')?.touched">
                <strong>El campo nit cc no puede estar vacio</strong>
              </span>
            </div>
          </div>
          <div class="row mb-4">
            <div class="col-md-4">
              <label class="form-label mb-2">Guía</label>
              <input formControlName="guia" class="form-control" type="number" min="1">
              <span style="color: red;" *ngIf="formSuports.get('guia')?.hasError('required') && formSuports.get('guia')?.touched">
                <strong>El campo de la guia no puede estar vacio</strong>
              </span>
            </div>
            <div class="col-md-4">
              <label class="form-label mb-2">Factura</label>
              <input formControlName="factura" class="form-control" type="text">
              <span style="color: red;" *ngIf="formSuports.get('factura')?.hasError('required') && formSuports.get('factura')?.touched">
                <strong>El campo de la factura no puede estar vacio</strong>
              </span>
            </div>
            <div class="col-md-4">
              <label class="form-label mb-2">Proyecto</label>
              <input formControlName="proyecto" class="form-control" type="text">
              <span style="color: red;" *ngIf="formSuports.get('proyecto')?.hasError('required') && formSuports.get('proyecto')?.touched">
                <strong>El campo del proyecto no puede estar vacio</strong>
              </span>
            </div>
          </div>
          <div class="row mb-4">
            <div class="col-md-4">
              <label class="form-label mb-2">Concepto</label>
              <input formControlName="concepto" class="form-control" type="text">
              <span style="color: red;" *ngIf="formSuports.get('concepto')?.hasError('required') && formSuports.get('concepto')?.touched">
                <strong>El campo Concepto no puede estar vacio</strong>
              </span>
            </div>
            <div class="col-md-4">
              <label class="form-label mb-2">Descripción</label>
              <input formControlName="descripcion" class="form-control" type="text">
              <span style="color: red;" *ngIf="formSuports.get('descripcion')?.hasError('required') && formSuports.get('descripcion')?.touched">
                <strong>El campo descripción no puede estar vacio</strong>
              </span>
            </div>
            <div class="col-md-4">
              <label class="form-label mb-2">Valor del envío</label>
              <input formControlName="valor" class="form-control" type="number" min="1">
              <span style="color: red;" *ngIf="formSuports.get('valor')?.hasError('required') && formSuports.get('valor')?.touched">
                <strong>El campo valor del envio no puede estar vacio</strong>
              </span>
            </div>
          </div>
          <div class="row mb-4">
            <div class="col-md-9">
              <label class="form-label mb-2">Documento</label>
              <input  class="form-control" type="file">
              
            </div>
          </div>
          <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
          <button [disabled]="formSuports.invalid" type="submit" class="btn btn-success">Guardar</button>
        </div>
        </form>
      </div>  
      </div>
    </div>
  </div>