<a routerLink="dashboard" href="#" class="d-block  p-3 border-0"><i class="icon ion-md-apps lead mr-2"></i>
    Dashboard</a>

<a routerLink="consulta" href="#" class="d-block  p-3 border-0"><i class="icon ion-md-clipboard lead mr-2"></i>
    Consultas</a>

<li class="nav-item dropdown d-block  border-0">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><i class="icon ion-md-calculator lead mr-2"></i>
        Registros</a>
      <div class="dropdown-menu">

        <a routerLink="anticipos" class="dropdown-item" href="#"><i class="icon ion-md-cash lead mr-2"></i>
            Anticipos</a>

        <a routerLink="gastos" class="dropdown-item" href="#"><i class="icon ion-md-cart lead mr-2"></i>
            Gastos</a>

        <a class="dropdown-item" href="#">Pendiente</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Pendiente</a>
    </div>
</li>

<a routerLink="confirmar_gasto" href="#" class="d-block  p-3 border-0"><i class="icon ion-md-clipboard lead mr-2"></i>
    Confirmar Gastos</a>


<li class="nav-item dropdown d-block  border-0">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><i class="icon ion-md-settings lead mr-2"></i>
        Configuración</a>
        <div class="dropdown-menu">
    
    <a href="#" class="dropdown-item"><i class="icon ion-md-people lead mr-2"></i>
        Usuarios</a>
   
    <a class="dropdown-item" href="#"><i class="icon ion-md-key lead mr-2"></i>
        Permisos</a>

        <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="#"><i class="icon ion-md-cloud lead mr-2"></i>
        Proyectos</a>

    <a class="dropdown-item" href="#"><i class="icon ion-md-airplane lead mr-2"></i>
        Transportadoras</a>
    </div>
</li>