<section class="bg-light py-2">
    <div class="containerLabel">
        <div class="row">
            <div class="col-lg-7 col-md-8">
              <p class="lead text-muted">Descargar y consulta información de Anticipos</p>
            </div>
            <div class="col-lg-2 col-md-4 d-flex">
              <button class="btn btn-info w-100 align-self-center">Descargar Info.</button>
            </div>
<br>
            <div class="col-lg-2 col-md-4 d-flex">
                <button class="btn btn-success w-100 align-self-center" data-toggle="modal" data-target="#exampleModal">Nuevo Anticipo</button>
              </div>
        </div>
    </div>
</section>

<section class="bg-mix py-3">
    <div class="cardDashboard">
        <div class="card rounded-0">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-3 col-md-6 d-flex stat my-3">
                        <div class="mx-auto">
                            <h6 class="text-muted">Anticipos Totales Realizados</h6>
                            <h3 class="font-weight-bold">$ 50.000</h3>
                            <h6 class="text-success"><i class="icon ion-md-arrow-dropup-circle"></i> 50.50%</h6>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 d-flex stat my-3">
                        <div class="mx-auto">
                            <h6 class="text-muted">Dinero en Efectivo</h6>
                            <h3 class="font-weight-bold">$ 25.000</h3>
                            <h6 class="text-success"><i class="icon ion-md-arrow-dropup-circle"></i> 25.50%</h6>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 d-flex stat my-3">
                        <div class="mx-auto">
                            <h6 class="text-muted">Dinero Pendiente Por Legalizar</h6>
                            <h3 class="font-weight-bold">$ 25.000</h3>
                            <h6 class="text-success"><i class="icon ion-md-arrow-dropup-circle"></i> 75.50%</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </section>

<section>
    <div class="containerTabla">
        <div class="row">
            <div class="col-lg-12 my-3">
                <div class="card rounded-0">
                    <div class="card-header bg-light">
                      <h6 class="font-weight-bold mb-0">Resumen Antcipos Realizados</h6>
                    </div>
                    <div class="card-body">
                        <table class="tableConsultas">
                            <thead>
                              <tr>
                                <th>ID</th>
                                <th>Fecha Anticipo</th>
                                <th>Valor</th>
                                <th>Comentario</th>
                                <th>Acciones</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td>1</td>
                                <td>27/09/2023</td>
                                <td>$200.000</td>
                                <td></td>
                                <td>Editar | Eliminar</td>
                              </tr>
                              <tr>
                                <td>1</td>
                                <td>27/09/2023</td>
                                <td>$200.000</td>
                                <td></td>
                                <td>Editar | Eliminar</td>
                              </tr>
                              <tr>
                                <td>1</td>
                                <td>27/09/2023</td>
                                <td>$200.000</td>
                                <td></td>
                                <td>Editar | Eliminar</td>
                              </tr>
                              <tr>
                                <td>1</td>
                                <td>27/09/2023</td>
                                <td>$200.000</td>
                                <td></td>
                                <td>Editar | Eliminar</td>
                              </tr>
                            </tbody>
                        </table>
                          
                          
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ingreso Anticipo</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

          <div class="container">

            <div class="form-group">
              <label for="monto" class="font-medium">Fecha:</label>
              <input type="date" class="form-control rounded" id="date">
            </div>

            <div class="form-group">
              <label for="monto" class="font-medium">Monto Transferido:</label>
              <input type="number" min="1" class="form-control rounded" id="monto" placeholder="Ingrese el monto">
            </div>
                      
            <div class="form-group">
              <label for="cuenta" class="font-medium">Comentario:</label>
              <input type="text" class="form-control rounded" id="cuenta" placeholder="Comentario">
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
            <button type="button" class="btn btn-success">Guardar</button>
          </div>
        </div>
      </div>
    </div>